<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">
    <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8" />

    <meta name="generator" content="Hugo 0.60.1" /><meta name="theme-color" content="#fff" />
        <script>
            const userPrefers = localStorage.getItem('theme');
            const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
            const lightModeMediaQuery = window.matchMedia('(prefers-color-scheme: light)');
            if (userPrefers === 'dark') {
                changeModeMeta('dark');
            } else if (userPrefers === 'light') {
                changeModeMeta('light');
            } else if (darkModeMediaQuery.matches) {
                changeModeMeta('dark');
            } else if (lightModeMediaQuery.matches) {
                changeModeMeta('light');
            }
            function changeModeMeta(theme) {
                document.documentElement.setAttribute('data-theme', theme);
                if (theme === 'dark') {
                    changeThemeColor('#282a36');
                } else {
                    changeThemeColor('#fff');
                }
            }
            function changeThemeColor(themeColor) {
                document.querySelector('meta[name="theme-color"]').setAttribute('content', themeColor);
            }
        </script>

    

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
    
    <meta http-equiv="Cache-Control" content="no-transform" />
    
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <title>在hugo中添加音频 | Reez &#39;Zimmer</title>

    <link rel="stylesheet" href="/css/meme.min.641afa0cdefcfd777cfcc433557a9429dd91350dc3bb719c4558419a94f76619.css" integrity="sha256-ZBr6DN78/Xd8/MQzVXqUKd2RNQ3Du3GcRVhBmpT3Zhk=" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM&#43;Plex&#43;Serif:ital,wght@0,400;0,500;0,700;1,400;1,700&amp;family=Source&#43;Code&#43;Pro:ital,wght@0,400;0,700;1,400;1,700&amp;family=Comfortaa:wght@700&amp;display=swap" media="print" onload="this.media='all'" />
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM&#43;Plex&#43;Serif:ital,wght@0,400;0,500;0,700;1,400;1,700&amp;family=Source&#43;Code&#43;Pro:ital,wght@0,400;0,700;1,400;1,700&amp;family=Comfortaa:wght@700&amp;display=swap" /></noscript>

    <meta name="author" content="Reez" />
    <meta name="description" content="Hugo generator简单易用，一直让我非常满意，但是当要给blog添加音频或视频文件时，我非常苦恼....
Hugo使用shotcode从YouTube或Vimeo插入视频文件。hexo可以直接使用html代码来添加视频和音频文件，但是hugo并不可以！
因此...我从网上找到了一个别人写的shotcode
在 ～/themes/$your-theme/layouts/shotcodes/audio.html 中添加
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28  &amp;lt;audio controls class=&amp;#34;audio_controls {{ .Get &amp;#34;class&amp;#34; }}&amp;#34; {{ with ." />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#2a6df4" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Reez &#39;Zimmer" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Reez &#39;Zimmer" />
    <meta name="msapplication-starturl" content="../../" />
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="msapplication-TileImage" content="../../icons/mstile-150x150.png" />
    <link rel="manifest" href="/manifest.json" />

    
    

    
    <link rel="canonical" href="https://reechang.bitbucket.io/posts/add_audio_to_hugo/" />



<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "datePublished": "2020-02-16T20:23:35+08:00",
        "dateModified": "2020-04-05T19:27:44+08:00",
        "url": "https://reechang.bitbucket.io/posts/add_audio_to_hugo/",
        "headline": "在hugo中添加音频",
        "description": "Hugo generator简单易用，一直让我非常满意，但是当要给blog添加音频或视频文件时，我非常苦恼....\nHugo使用shotcode从YouTube或Vimeo插入视频文件。hexo可以直接使用html代码来添加视频和音频文件，但是hugo并不可以！\n因此...我从网上找到了一个别人写的shotcode\n在 ～/themes/$your-theme/layouts/shotcodes/audio.html 中添加\n1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28  \u0026lt;audio controls class=\u0026#34;audio_controls {{ .Get \u0026#34;class\u0026#34; }}\u0026#34; {{ with .",
        "inLanguage" : "zh-CN",
        "articleSection": "posts",
        "wordCount":  258 ,
        "image": "https://reechang.bitbucket.io/icons/apple-touch-icon.png",
        "author": {
            "@type": "Person",
            "description": "停止盲从，学会思考",
            "email": "me@reez.me",
            "image": "https://reechang.bitbucket.io/apple-touch-icon.png",
            "url": "https://blog.reez.me",
            "name": "Reez"
        },
        "license": "Copyright © Reez",
        "publisher": {
            "@type": "Organization",
            "name": "Reez 'Zimmer",
            "logo": {
                "@type": "ImageObject",
                "url": "https://reechang.bitbucket.io/icons/apple-touch-icon.png"
            },
            "url": "https://reechang.bitbucket.io/"
        },
        "mainEntityOfPage": {
            "@type": "WebSite",
            "@id": "https://reechang.bitbucket.io/"
        }
    }
</script>

    



<meta name="twitter:card" content="summary" />


    





<meta property="og:title" content="在hugo中添加音频" />
<meta property="og:description" content="Hugo generator简单易用，一直让我非常满意，但是当要给blog添加音频或视频文件时，我非常苦恼....
Hugo使用shotcode从YouTube或Vimeo插入视频文件。hexo可以直接使用html代码来添加视频和音频文件，但是hugo并不可以！
因此...我从网上找到了一个别人写的shotcode
在 ～/themes/$your-theme/layouts/shotcodes/audio.html 中添加
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28  &amp;lt;audio controls class=&amp;#34;audio_controls {{ .Get &amp;#34;class&amp;#34; }}&amp;#34; {{ with ." />
<meta property="og:url" content="https://reechang.bitbucket.io/posts/add_audio_to_hugo/" />
<meta property="og:site_name" content="Reez &#39;Zimmer" />
<meta property="og:locale" content="zh" /><meta property="og:image" content="https://reechang.bitbucket.io/icons/apple-touch-icon.png" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="2020-02-16T20:23:35+08:00" />
    <meta property="article:modified_time" content="2020-04-05T19:27:44+08:00" />
    
    <meta property="article:section" content="posts" />


        <link rel="preconnect" href="https://www.google-analytics.com" crossorigin />

        




    
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-144242593-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    


    
</head>

    <body>
        <div class="container">
            
    <header class="header" data-scroll-header>
        
            <div class="header-wrapper">
                <div class="header-inner">
                    
    <div class="site-brand">
        
            <a href="/" class="brand">Reez &#39;Zimmer</a>
        
    </div>

                    <nav class="nav">
    <ul class="menu" id="menu">
        
            
        
        
        
        
            
                <li class="menu-item"><a href="/posts/"><span class="menu-item-name">Posts</span></a>
                </li>
            
        
            
                <li class="menu-item"><a href="/about/"><span class="menu-item-name">About</span></a>
                </li>
            
        
            
                <li class="menu-item"><a href="/contact/"><span class="menu-item-name">Contact</span></a>
                </li>
            
        
            
                <li class="menu-item"><a href="/rss.xml"><span class="menu-item-name">Rss</span></a>
                </li>
            
        
            
                
                    <li class="menu-item">
                        
    
        
            
        
        <div id="theme-switcher">🌞</div>
    


                    </li>
                
            
        
            
                
            
        
    </ul>
</nav>

                </div>
            </div>
            
    <input type="checkbox" id="nav-toggle" aria-hidden="true" />
    <label for="nav-toggle" class="nav-toggle"></label>
    <label for="nav-toggle" class="nav-curtain"></label>


        
    </header>




            
            
    <main class="main single" id="main">
    <div class="main-inner">

        <article class="content post" data-align="justify" data-type="posts" data-toc-num="true">

            <h1 class="post-title">在hugo中添加音频</h1>

            

            
                
            

            
                

<div class="post-meta">
    
        
        <time datetime="2020-02-16T20:23:35+08:00" class="post-meta-item published"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon post-meta-icon"><path d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"/></svg>&nbsp;2020.2.16</time>
    
    
        
        <time datetime="2020-04-05T19:27:44+08:00" class="post-meta-item modified"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon post-meta-icon"><path d="M400 64h-48V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v52H160V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v52H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V160h352v298a6 6 0 0 1-6 6zm-52.849-200.65L198.842 404.519c-4.705 4.667-12.303 4.637-16.971-.068l-75.091-75.699c-4.667-4.705-4.637-12.303.068-16.971l22.719-22.536c4.705-4.667 12.303-4.637 16.97.069l44.104 44.461 111.072-110.181c4.705-4.667 12.303-4.637 16.971.068l22.536 22.718c4.667 4.705 4.636 12.303-.069 16.97z"/></svg>&nbsp;2020.4.5</time>
    
    
    
        
        
        
            
        
    
    
        
        <span class="post-meta-item wordcount"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon post-meta-icon"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>&nbsp;258</span>
    
    
        
        <span class="post-meta-item reading-time"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon post-meta-icon"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>&nbsp;2&nbsp;分钟</span>
    
    
</div>
            

            <div class="post-body"><p>Hugo generator简单易用，一直让我非常满意，但是当要给blog添加音频或视频文件时，我非常苦恼....</p>
<p>Hugo使用shotcode从YouTube或Vimeo插入视频文件。hexo可以直接使用html代码来添加视频和音频文件，但是hugo并不可以！</p>
<p>因此...我从网上找到了一个别人写的shotcode</p>
<p>在 ～/themes/$your-theme/layouts/shotcodes/audio.html 中添加</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre class="chroma"><code><span class="lnt"> 1
</span><span class="lnt"> 2
</span><span class="lnt"> 3
</span><span class="lnt"> 4
</span><span class="lnt"> 5
</span><span class="lnt"> 6
</span><span class="lnt"> 7
</span><span class="lnt"> 8
</span><span class="lnt"> 9
</span><span class="lnt">10
</span><span class="lnt">11
</span><span class="lnt">12
</span><span class="lnt">13
</span><span class="lnt">14
</span><span class="lnt">15
</span><span class="lnt">16
</span><span class="lnt">17
</span><span class="lnt">18
</span><span class="lnt">19
</span><span class="lnt">20
</span><span class="lnt">21
</span><span class="lnt">22
</span><span class="lnt">23
</span><span class="lnt">24
</span><span class="lnt">25
</span><span class="lnt">26
</span><span class="lnt">27
</span><span class="lnt">28
</span></code></pre></td>
<td class="lntd">
<pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">audio</span> <span class="na">controls</span>
	<span class="na">class</span><span class="o">=</span><span class="s">&#34;audio_controls {{ .Get &#34;</span><span class="na">class</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="err">&#34;</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">id</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">id</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">preload</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">preload</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">else</span> <span class="err">}</span><span class="err">}</span><span class="na">preload</span><span class="o">=</span><span class="s">&#34;metadata&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	
	<span class="na">style</span><span class="o">=</span><span class="s">&#34;{{ with .Get &#34;</span><span class="na">style</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="err">{</span><span class="err">{</span> <span class="err">.</span> <span class="err">|</span> <span class="na">safeCSS</span> <span class="err">}</span><span class="err">}</span><span class="err">;</span> <span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
		<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">width</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">width:</span><span class="err">{</span><span class="err">{</span> <span class="err">.</span> <span class="err">}</span><span class="err">}</span><span class="err">;</span> <span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
		<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">height</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">height:</span><span class="err">{</span><span class="err">{</span> <span class="err">.</span> <span class="err">}</span><span class="err">}</span><span class="err">;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span><span class="err">&#34;</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">title</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">data-info-title</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">attr</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">data-info-attr</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">attr_link</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">data-info-attr-link</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">year</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">data-info-year</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">artist</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">data-info-artist</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">album_title</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">data-info-album-title</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">album_art</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">data-info-album-art</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
	<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">label</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">data-info-label</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
<span class="p"></span><span class="p">&gt;</span>
	{{ if .Get &#34;src&#34; }}
	<span class="p">&lt;</span><span class="nt">source</span> <span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">src</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">src</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
		<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">type</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">type</span><span class="o">=</span><span class="s">&#34;audio/{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span><span class="p"></span><span class="p">&gt;</span>
	{{ else if .Get &#34;backup_src&#34; }}
		<span class="p">&lt;</span><span class="nt">source</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;{{ .Get &#34;</span><span class="na">backup_src</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="err">&#34;</span>
			<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">backup_type</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">type</span><span class="o">=</span><span class="s">&#34;audio/{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
			<span class="err">{</span><span class="err">{</span> <span class="na">with</span> <span class="err">.</span><span class="na">Get</span> <span class="err">&#34;</span><span class="na">backup_codec</span><span class="err">&#34;</span> <span class="err">}</span><span class="err">}</span><span class="na">codecs</span><span class="o">=</span><span class="s">&#34;{{ . }}&#34;</span><span class="err">{</span><span class="err">{</span> <span class="na">end</span> <span class="err">}</span><span class="err">}</span>
		<span class="p"></span><span class="p">&gt;</span>
	{{ end }}
	Your browser does not support the audio element
<span class="p">&lt;</span><span class="p">/</span><span class="nt">audio</span><span class="p">&gt;</span>
</code></pre></td></tr></table>
</div>
</div><p>这样，在写文章时，就可以使用 audio shotcodes来播放mp3文件了。</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre class="chroma"><code><span class="lnt">1
</span><span class="lnt">2
</span></code></pre></td>
<td class="lntd">
<pre class="chroma"><code class="language-html" data-lang="html">前面增加一个“{”
{<span class="p">&lt;</span> <span class="nt">audio</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;https://your-path-to-music.mp3&#34;</span> <span class="p"></span><span class="p">&gt;</span>}}
</code></pre></td></tr></table>
</div>
</div><p>下面是个示例</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre class="chroma"><code><span class="lnt">1
</span><span class="lnt">2
</span></code></pre></td>
<td class="lntd">
<pre class="chroma"><code class="language-html" data-lang="html">前面增加一个“{”
{<span class="p">&lt;</span> <span class="nt">audio</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;https://blog.reez.me/audio/test.mp3&#34;</span> <span class="p"></span><span class="p">&gt;</span>}}
</code></pre></td></tr></table>
</div>
</div>
<audio controls
	class="audio_controls "
	
	preload="metadata"
	
	style="
		
		"
	
	
	
	
	
	
	
	
>
	
	<source src="https://reez.now.sh/audio/test.mp3"
		>
	
	Your browser does not support the audio element
</audio>
</div>

        </article>

        

        
    
    
    
        <ul class="post-copyright">
            <li class="copyright-item author"><span class="copyright-item-text">作者</span>：<a href="https://blog.reez.me" target="_blank" rel="noopener">Reez</a></li>
            
                
                
                
                
                <li class="copyright-item link"><span class="copyright-item-text">链接</span>：<a href="/posts/add_audio_to_hugo/" target="_blank" rel="noopener">https://reechang.bitbucket.io/posts/add_audio_to_hugo/</a></li>
            
            <li class="copyright-item license"><span class="copyright-item-text">许可</span>：Copyright © Reez</li>
            
        </ul>
    



        
    <div class="updated-badge-container"><div title="Updated @ 2020-04-05 19:27:44 CST" style="cursor:help;display:inline-block">

<svg xmlns="http://www.w3.org/2000/svg" width="130" height="20" class="updated-badge"><linearGradient id="b" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient><clipPath id="a"><rect width="130" height="20" rx="3" fill="#fff"/></clipPath><g clip-path="url(#a)"><path class="updated-badge-left" d="M0 0h55v20H0z"/><path class="updated-badge-right" d="M55 0h75v20H55z"/><path fill="url(#b)" d="M0 0h130v20H0z"/></g><g fill="#fff" text-anchor="middle" font-size="110"><text x="285" y="150" fill="#010101" fill-opacity=".3" textLength="450" transform="scale(.1)">updated</text><text x="285" y="140" textLength="450" transform="scale(.1)">updated</text><text x="915" y="150" fill="#010101" fill-opacity=".3" textLength="650" transform="scale(.1)">2020-04-05</text><text x="915" y="140" textLength="650" transform="scale(.1)">2020-04-05</text></g></svg></div></div>


        

        


        
    
    
        <div class="related-posts">
            <h2 class="related-title">相关文章：<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon related-icon"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"/></svg></h2>
            <ul class="related-list">
                
                    <li class="related-item">
                        <a href="/posts/gitlab_firebase_forestry/" class="related-link">Gitlab&#43;Firebase&#43;Forestry彻底提升Hugo博客的自动化程度！</a>
                    </li>
                
            </ul>
        </div>
    


        
    
        <div class="post-tags">
            
                
                
                
                
                    
                    <a href="/tags/hugo/" rel="tag" class="post-tags-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon tag-icon"><path d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"/></svg>Hugo</a>
                
            
        </div>
    


        

        

        
    
        
        
    
    
    
    
        <ul class="post-nav">
            
            
                <li class="post-nav-next">
                    <a href="/posts/the_sun/" rel="next">阳光普照天下 ></a>
                </li>
            
        </ul>
    


        


    </div>
</main>


            
    <div id="back-to-top" class="back-to-top">
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon"><path d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"/></svg></a>
    </div>

            
    <footer id="footer" class="footer">
        <div class="footer-inner"><div class="site-info">©&nbsp;2017–2020&nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon footer-icon"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>&nbsp;Reez</div><div class="powered-by">Powered by <a href="https://github.com/gohugoio/hugo" target="_blank" rel="noopener">Hugo</a> | Theme is <a href="https://github.com/reuixiy/hugo-theme-meme" target="_blank" rel="noopener">MemE</a></div><div class="site-copyright">Copyright © Reez</div>

            
        </div>
    </footer>


        </div>
        <script src="/js/meme.min.e173d917b4d2012bf68b1ff9d69316b4067c8f101bc3edf8d126cded554538b6.js" integrity="sha256-4XPZF7TSASv2ix/51pMWtAZ8jxAbw+340SbN7VVFOLY="></script>


    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<script>
    var scroll = new SmoothScroll('a[href*="#"]', {
        speedAsDuration: true,
        header: '[data-scroll-header]'
    });
</script>






    <script>
    if (typeof MathJax === 'undefined') {
        window.MathJax = {
            loader: {
                load: ['[tex]/mhchem']
            },
            
            tex: {
                inlineMath: {'[+]': [['$', '$']]},
                tags: 'ams',
                packages: {'[+]': ['mhchem']}
            }
        };
        (function() {
            var script = document.createElement('script');
            script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js';
            script.defer = true;
            document.head.appendChild(script);
        })();
    } else {
        MathJax.texReset();
        MathJax.typeset();
    }
</script>








    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@latest/dist/medium-zoom.min.js"></script>

<script>
    mediumZoom(document.querySelectorAll('div.post-body img'), {
        background: 'hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), 0.95)'
    })
</script>




    <script src="https://cdn.jsdelivr.net/npm/instant.page@3.0.0/instantpage.min.js" type="module" defer></script>





    <div class="app-refresh" id="app-refresh">
        <div class="app-refresh-wrap" onclick="location.reload()">
            <label>已更新最新版本</label>
            <span>点击刷新</span>
        </div>
    </div>

    <script>
        if ('serviceWorker' in navigator) {
            if (navigator.serviceWorker.controller) {
                navigator.serviceWorker.addEventListener('controllerchange', function() {
                    showNotification();
                });
            }

            window.addEventListener('load', function() {
                navigator.serviceWorker.register('../../sw.js');
            });
        }

        function showNotification() {
            document.querySelector('meta[name=theme-color]').content = '#000';
            document.getElementById('app-refresh').className += ' app-refresh-show';
        }
    </script>







    </body>
</html>
